@import "tailwindcss";

@theme {
  --font-sans: "Inter", "sans-serif";
  --font-poppins: "Poppins", "sans-serif";
  --color-brand-pink: #fce4ec; /* Un rosa muy suave */
}

html {
  scroll-behavior: smooth;
}
